html, body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 85%;
  margin: auto;
}
