html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 85%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 5vh;
}

footer > nav > ul {
  display: flex;
  width: 10vw;
  justify-content: space-between;
}

.movieGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1%;
  /* TODO: Need proper fix for card overflowing onto other elements */
  overflow: hidden;
}

.movieCard {
  border: solid black 2px;
}

.poster {
  width: 100%;
  height: 100%;
}
